CompileFlags:
  Add: [-I./modules, -I../modules, -DHOT_RELOAD]

--- 

If:                               # Apply this config conditionally
  PathMatch: .*\.h  

CompileFlags:
  Add: [-DXI_INPUT_ACTIONS_IMPLEMENTATION, -DXI_UI_IMPLEMENTATION, -DXI_COLLISION_IMPLEMENTATION, -DXI_LIST_IMPLEMENTATION, -DXI_ARENAS_IMPLEMENTATION -I./modules]
